[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
e7awg-sw = {path = "./qube-calib/e7awg_sw"}
qubelsi = {path = "./qube-calib/adi_api_mod/python/qubelsi"}
qubecalib = {path = "./qube-calib/qubecalib"}
sphinx = "*"
sphinx-sizzle-theme = "*"
numpy = "*"
matplotlib = "*"
pylabrad = "*"
jupyterlab = ">=3"
pyvisa = "*"
pyvisa-py = "*"
scipy = "*"
pyyaml = "*"
ipywidgets = ">=7.6"
plotly = "*"
jupyter-dash = "*"
pandas = "*"
nbconvert = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
