[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
e7awg-sw = {path = "./e7awg_sw"}
qubelsi = {path = "./adi_api_mod/python/qubelsi"}
sphinx = "*"
sphinx-sizzle-theme = "*"
numpy = "*"
matplotlib = "*"
pylabrad = "*"
jupyterlab = "*"
pyvisa = "*"
pyvisa-py = "*"
ipywidgets = "*"
bokeh = "*"
notebook = "*"
jupyter-bokeh = "*"
ipympl = "*"
ipywidgets-bokeh = "*"
lckr-jupyterlab-variableinspector = "*"
scipy = "*"


[dev-packages]

[requires]
python_version = "3.9"
