pip
jupyter
matplotlib
tqdm
numpy

git+https://github.com/qiqb-osaka/qube-calib.git@1a4603bc#subdirectory=qubecalib&egg=qubecalib
# テストが終了してタグをつけたらこちらに変更
# git+https://github.com/qiqb-osaka/qube-calib.git@3.0.0#subdirectory=qubecalib&egg=qubecalib
